@media (max-width: 768px) {
    /* Hide desktop navigation on small screens */

    .para1{
        font-size: 40px;
        text-align: left;
    }
    .d-para{
        font-size: 70px;
        text-align: left;
    }
    .b-para{
        font-size: 20px;
        text-align: left;
        font-weight: bold;
    }
    .bottom{
        display: flex;
        flex-direction: column;
    }
    .hero-btn{
        font-size: 20px;
        padding: 5px 10px;
    }
    .bottom-para{
        font-size: 20px;
        border: none;
        margin-top: -30px;
        font-weight: bold;
    }
    .heading-p{
        margin-left: -50px;
    }
    .about-para{
        font-size: 30px;
        line-height: 40px;
        width: 300px;
        text-align: left;
        margin-left: -50px;
    }
    .contact-me{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: left;
        /* gap: 10px; */
        justify-content: center;
        margin-left: 40px;
       }

       /* help section */

       .content-cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        /* margin: -80px; */
        margin: auto;
       }

       /* skills responsive */
       .cards{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
       }
       .card{
        width: 300px;
       }

       /* faq responsove */

       .faqs{
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }
       
       
  }
/* Responsive.css */

/* Define keyframes for fade-in-up animation */
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Apply the animation via a custom class */
  .animate-fadeInUp {
    animation: fadeInUp 0.8s ease-out both;
  }
  